
body {
    margin: 0
}


.card {
    text-align: center;
}

.contactBody {
    background-color: #9fafca;
    padding-bottom: 800px;
}
h1, h2 {
    font-family: sans-serif;
    color:azure;
    text-align: center;
}

.color {
    background-color: #9fafca;
}
.Address {
    text-align: center;
    background-color: #9fafca;
}

.Buttons {
    border: solid 2px;
    text-align: center;
    background-color: #9fafca;
    margin: 0 300px 0 300px;
}

.CTitle {
    padding: 15px;
background-color: #08506d;

}
.Title {
    background-color: #9fafca;
    padding: 15px;
    
}

.Experience {
    font-family: 'Times New Roman';
    padding: 8px 8px 8px 8px;
}

.contact {

    color: white;
    text-align: center;
    background-color: rgb(37, 145, 145);
    font-family: 'Times New Roman';
    padding: 8px 8px 8px 8px;
}

.contactB {
    text-align: center;
    background-color: #08506d;
   height: 60px;
   width: 60px;
   margin: 0 0 0 900px;
   border: solid 1px;

}

.controller {
    position: absolute;
    margin: 0 0 0 1500px;

}

.keys {
    position:absolute;
    margin: 0 0 0 200px;

}

.headshot {
    padding: 0px 0px 0px 200px;
    border-radius: 200px;
    position: relative;
    margin: 0 0px 0px 650px;
}

.language {
    float: left;
    margin: 0 0 0 25px;
    padding: 50px 50px 50px 10px;
   
}

.java {
    float: left;
    margin: 0 0 0 600px;

}

.publix {
    position: absolute;
    float: left;
    padding: 15px;
    margin: 100px 30px 0px 1200px;
}

.kroger {
    float: left;
    position: absolute;
    padding: 15px;
    margin: 50px 200px 0 850px;
}

.Experience{
   position: relative;
   padding: 15px;
   margin: 0 0 0 250px;
}

.leadership {
    float: left;
    margin: 0 1200px 0 1000px;
    padding: 15px;
}
.russia {
    float: left;
    position: absolute;
    padding: 15px;
    margin: 50px 200px 0 850px;
}

.web {
    float: left;
    position: absolute;
    padding: 15px;
    margin: 100px 30px 0 1200px;
    
}

.skills {
    
    padding: 15px;
    margin: 0px 0px 0 1000px;

}

a:hover {
    background-color: hotpink;
}


